/* spa-component: release */
.component {
    box-sizing: border-box; }
    .component.hidden {
        display: none !important; }

/* spa-component: develop */
body.develop .component {
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    body.develop .component.focus {
        outline: 1px dashed red; }

/* stb-component: release */
.component div {
    -webkit-box-sizing: border-box; }
